/* Variables */
:root {
    /* Colors */
    --dark-cyan-color: hsl(158, 36%, 37%);
    --cream-color: hsl(30, 38%, 92%);
    --very-dark-blue-color: hsl(212, 21%, 14%);
    --dark-grayish-blue-color: hsl(228, 12%, 48%);
    --white-color: hsl(0, 0%, 100%);

    /* Colors for iteractions */
    --hover-button-dark-cyan-color: hsl(159, 36%, 47%);
    --active-button-dark-cyan-color: hsl(162, 37%, 27%);

    /* Typography */
    --small-font-size: 0.75rem;
    --regular-font-size: 0.875rem;
    --large-font-size: 1.75rem;
    --montserrat-family-font: "Montserrat", sans-serif;
    --fraunces-family-font: "Fraunces", serif;
    --normal-font-weight: 500;
    --bold-font-weight: 700;
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 15px;
    font-family: var(--montserrat-family-font);
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

/* Styles for mobile version */
.product {
    background-color: var(--white-color);
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.product__info {
    padding: 26px;
    display: grid;
    gap: 10px;
}

.product__image {
    width: 100%;
}

.product__details {
    color: var(--dark-grayish-blue-color);
    display: grid;
    gap: 10px;
}

.product__type {
    font-size: var(--small-font-size);
    text-transform: uppercase;
    letter-spacing: 6px;
}

.product__name {
    font-family: var(--fraunces-family-font);
    font-size: var(--large-font-size);
    font-weight: var(--bold-font-weight);
    color: var(--very-dark-blue-color);
}

.product__description {
    font-size: var(--regular-font-size);
    line-height: 140%;
    font-weight: var(--normal-font-weight);
}

.product__pricing {
    display: flex;
    align-items: center;
    gap: 16px;
}

.price__current {
    font-family: var(--fraunces-family-font);
    font-size: var(--large-font-size);
    color: var(--dark-cyan-color);
    font-weight: var(--bold-font-weight);
}

.price__original {
    color: var(--dark-grayish-blue-color);
    text-decoration: line-through;
}

.button {
    width: 100%;
    padding: 15px 0;
    background-color: var(--dark-cyan-color);
    border-radius: 8px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button__text {
    font-weight: var(--bold-font-weight);
}

.button:hover {
    background-color: var(--hover-button-dark-cyan-color);
}

.button:active {
    background-color: var(--active-button-dark-cyan-color);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Styles */