/* Variables */
$dark-cyan-color: hsl(158, 36%, 37%);
$cream-color: hsl(30, 38%, 92%);
$very-dark-blue-color: hsl(212, 21%, 14%);
$dark-grayish-blue-color: hsl(228, 12%, 48%);
$white-color: hsl(0, 0%, 100%);

/* Colors for interactions */
$hover-button-dark-cyan-color: hsl(159, 36%, 47%);
$active-button-dark-cyan-color: hsl(162, 37%, 27%);

/* Typography */
$small-font-size: 0.75rem;
$regular-font-size: 0.875rem;
$large-font-size: 2rem;
$montserrat-family-font: "Montserrat", sans-serif;
$fraunces-family-font: "Fraunces", serif;
$normal-font-weight: 500;
$bold-font-weight: 700;

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $cream-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: $montserrat-family-font;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

footer {
    position: absolute;
    bottom: 0;
}

.product {
    background-color: $white-color;
    width: 21.5rem;
    overflow: hidden;
    border-radius: 10px;

    &__content {
        padding: 26px;
        display: grid;
        gap: 23px;
    }

    &__banner {
        width: 100%;

        &--mobile {
            width: 100%;
            height: 100%;
            object-position: center;
            filter: brightness(90%) saturate(120%) contrast(120%);
        }

        &--desktop {
            display: none;
        }
    }

    &__details {
        color: $dark-grayish-blue-color;
        display: grid;
        gap: 12px;
    }

    &__type {
        font-size: $small-font-size;
        font-weight: $normal-font-weight;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $dark-grayish-blue-color;
    }

    &__name {
        font-family: $fraunces-family-font;
        font-size: $large-font-size;
        font-weight: $bold-font-weight;
        color: $very-dark-blue-color;
        line-height: 100%;
    }

    &__description {
        font-size: $regular-font-size;
        line-height: 160%;
        font-weight: $normal-font-weight;
    }

    &__pricing {
        display: flex;
        align-items: center;
        gap: 16px;

        .price__current {
            font-family: $fraunces-family-font;
            font-size: $large-font-size;
            color: $dark-cyan-color;
            font-weight: $bold-font-weight;
        }

        .price__original {
            color: $dark-grayish-blue-color;
            text-decoration: line-through;
            font-size: $regular-font-size;
        }
    }
}

.button {
    width: 100%;
    padding: 15px 0;
    background-color: $dark-cyan-color;
    border-radius: 8px;
    color: $white-color;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: 200ms;

    &__text {
        font-weight: $bold-font-weight;
        font-size: $regular-font-size;
    }

    &:hover {
        background-color: $hover-button-dark-cyan-color;
        transition: 200ms;
    }

    &:active {
        background-color: $active-button-dark-cyan-color;
    }
}

.attribution {
    font-size: 10px;
    text-align: center;
    color: $dark-grayish-blue-color;

    a {
        color: hsl(228, 34%, 35%);
    }
}

// Responsive Design

@media (min-width: 21.5rem) {
    .product {
        width: clamp(21.5rem, 70vw + 5rem, 37.5rem);
    }
}

@media (min-width: 900px) {
    .product {
        display: flex;
        flex-direction: row;

        &__banner {
            width: 50%;

            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
                width: 100%;
                height: 100%;
                object-position: center;
                filter: brightness(90%) saturate(120%) contrast(120%);
            }
        }

        &__content {
            width: 50%;
            padding: 2rem;
            gap: 26px;
        }

        &__details {
            gap: 20px;
        }
    }
}